{% extends 'base.html' %}
{% block albums_active %}active{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>New Hello World</h1>
        <!-- Albums -->
{#        <script src="https://www.gstatic.com/firebasejs/3.7.1/firebase-app.js"></script>#}
{#        <script src="https://www.gstatic.com/firebasejs/3.7.3/firebase.js"></script>#}
{#        <script src="https://www.gstatic.com/firebasejs/3.7.1/firebase-database.js"></script>#}
{##}
{#        <script>#}
{#            // Initialize Firebase#}
{#            var config = {#}
{#                apiKey: "AIzaSyD1E7AjUW-wfEEpYphcqgEE9MGZFJBENzY",#}
{#                authDomain: "hshacks3-7dc18.firebaseapp.com",#}
{#                databaseURL: "https://hshacks3-7dc18.firebaseio.com",#}
{#                storageBucket: "hshacks3-7dc18.appspot.com",#}
{#                messagingSenderId: "1015361765033"#}
{#            };#}
{#            firebase.initializeApp(config);#}
{#        </script>#}
{#        <script type="text/javascript">#}
{#            var database = firebase.database();#}
{#            function writeUserData(email, json) {#}
{#                firebase.database().ref('users/' + email).set(json);#}
{#            }#}
{#            console.log({{ twitter }});#}
{#            console.log({{ email }},{{ twitter }});#}
{#            writeUserData({{ email }}, {{ twitter }});#}
{##}
            {#    widget.init(data_from_django);#}
{#        </script>#}
    </div>
{% endblock %}
